/* Colors Set us*/
/*
Green on hover: #39865c;
Facebook: #264b96
Google+: #c3412c
Text: #505050
 */
/*--------------------------------------- */
/*Basic Setup */
/*--------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* custom fonts */
@font-face {
    font-family: "Invisible";
    src: url("../fonts/Invisible-Light.otf") format("otf"),
    url("../fonts/Invisible-Medium.otf") format("otf");

}
@font-face {
    font-family: "Verdana";
    src: url("../fonts/verdanab.ttf") format("ttf");
}

html, body {
    background-color: #000000;
    color: #fff;
    font-family: 'Invisible', 'Verdana', 'Courier',  sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*--------------------------------------- */
/*Main Section */
/*--------------------------------------- */
main {
    background-image: url(../images/cover-image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

}
/* header*/
header {
    width:100%;
    height: 56px;
    background-color: rgba(5, 1, 1, 0.5);
}
.logo {
    display:inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-family: Verdana, serif;
    font-weight: bold;
    font-size: 20px;
    float:left;
    margin-left:152px;
    margin-top:15px;
}
.logo:hover{
    color:#39865c;
}

ul {
    display:inline-block;
    float:right;
    margin-top: 18px;
}
ul li {
    text-decoration: none;
    display:inline-block;
    padding-right:28px;
}
ul li:last-child {
    padding-right:25px;
    border-right: 1px solid rgba(173, 172, 172, 0.3);
}
.header-text {
    display: inline-block;
    float:right;
    margin-right: 93px;
    margin-top: 24px;
    margin-left:24px;
    color:#fff;
    font-family: Invisible, serif;
    font-size:14px;
}
.header-text a {text-decoration: none;
color: #39865c;
}
.header-text a:hover {
    text-decoration: underline;
}

/*sprites menu */
.menu-icons-mes-hover, .menu-icons-mes, .menu-icons-comp-hover, .menu-icons-comp, .menu-icons-calc-hover,
.menu-icons-calc
{ display: inline-block; background: url('../images/menu-icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.menu-icons-mes { background-position: -2px -22px; width: 28px; height: 20px; }
.menu-icons-comp { background-position: -2px -66px; width: 20px; height: 20px; }
.menu-icons-calc { background-position: -2px -109px; width: 19px; height: 19px; }

.menu-icons-mes:hover { background-position: -2px -0px; width: 28px; height: 20px; }
.menu-icons-comp:hover { background-position: -2px -44px; width: 20px; height: 20px; }
.menu-icons-calc:hover { background-position: -2px -88px; width: 19px; height: 19px; }

    /* main section */

section {
    display: flex;
    width:100%;
    min-height: 714px;
}

.registration-box{
    width:444px;
    height: 584px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    position: relative;
}
.content-section {
    display:block;
    margin: 26px auto 0;
    width: 322px;
    height: 505px;
}
/*  Text */
.box-title {
    width:100%;
}
.square {
    position: absolute;
    top: 29px;
    height: 18px;
    width:18px;
    background-color: #39865c;
    display: inline-block;
}

.sign-up {
    display:inline-block;
    font-size: 20px;
    font-family: Invisible, serif;
    color:#505050;
}
.log-in {
    text-decoration: none;
    color:#39865c;
    float: right;
}
.log-in:hover {text-decoration: underline;}
/* button */
.social-buttons {
    margin-top: 15px;
}
.soc-button {
    display:inline-block;
    font-size: 16px;
    font-family: Invisible, serif;
    text-decoration: none;
    color:#fff;
    height:46px;
    width: 157px;
    border-radius: 5px;
   background-color: #264b96;
    padding-top: 8px;
}
.soc-f{ background-color: #264b96;
}
.soc-f:hover { background-color: #121396;
}
.soc-g{  background-color: #c3412c;
}
.soc-g:hover{  background-color: #660d03;
}
.facebook {
    display: inline-block;
    padding-left: 18px;
}
.icon-soc{
    display: inline-block;
    font-weight: 700;
    font-size:22px;
    padding-right: 17px;
    padding-left: 20px;
    border-right: 1px solid rgba(165, 172, 176, 0.3);
}
.icon-g {

}
.google {
    display: inline-block;
    border: #39865c;
    padding-left: 24px;

}

/* or Line */
.or-wrapper {
    position:relative;
    width:100%;
    margin-top: 33px;
    margin-bottom: 18px;
}
.or {
    width:100%;
    height: 8px;
    display: inline-block;
    font-size: 14px;
    color:#505050;
    text-align: center;
}
.or:before, .or:after {
    content: "";
    display:block;
    border-top: solid 1px rgba(212, 212, 212, 0.92);
    height: 1px;
    position: absolute;
    z-index: 1;
}
.or:before {
    width:45%;
    top: 50%;
}
.or:after {
    width:43%;
    top: 50%;
    left:55%;
}
/*--------------------------------------- */
/*Registration Form*/
/*--------------------------------------- */
#registration-form {
    color:#505050;
}

#registration-form input {
    width: 320px;
    height: 44px;
    text-indent:19px;
    margin-bottom:9px;
    transition:none;
}

#registration-form input:focus {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#registration-form input:hover {
    transition: width .35s ease-in-out;
    width:330px;
}

.btn-form {
    display: block;
    width:322px;
    height: 46px;
    background-color: #39865c;
    font-family: Invisible, serif;
    font-size: 16px;
    color: #fff;
}
.btn-form:hover{
    background-color: #0e7502;
    cursor: pointer;
}
/* Custom checkbox */
.checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 28px;
    margin-top: 22px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkbox-wrapper a {
    color: #39865c;
    text-decoration: none;
}
.checkbox-wrapper a:hover {
    text-decoration: underline;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid rgba(212, 212, 212, 0.92);
    border-radius: 2px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-wrapper input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-wrapper .checkmark:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #39865c;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

