.trello-header{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1d2124;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.add-column {
    width:100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f9f9f9;
}
.add-column-button {
    color:#fff;
    font-size: 15px;
    background-color: #1e60a6;
    border:1px solid grey;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.add-column-button:hover {
    background-color: #0734a6;
    cursor: pointer;
}

.add-column-name {
    margin-left: 20px;
    display:none;
}
.add-column-name-input {
    padding: 7px;
}
.add-column-name-button{
    padding: 7px 10px;
    margin-left: 7px;
    background-color:#1e60a6;
    color:#fff;
    font-size: 14px;
}
.add-column-name-button:hover{
    background-color: #0734a6;
    cursor: pointer;
}
.board-container {
    background-color: #d1d1d1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}
.card {
    display:flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    width:350px;
    border: 1px solid #1d2124;
    margin:10px;
    height: 70%;
    background-color: #fff;
}
.card-button {
padding-top: 7px;
    font-size: 15px;
    padding-bottom: 7px;
    background-color: #1e60a6;
    color:#fff;
}

.card-title {
    display:flex;
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid grey;
    flex-direction: row;
    justify-content: space-between;
}
.card-sort-button {
    background-color: #1e60a6;
    color:#fff;
}

.card-sort-button:focus, .card-button:focus, .card-confirm-button:focus{
    outline: none;
}

.card-button:hover, .card-confirm-button:hover, .card-sort-button:hover  {
    background-color: #0734a6;
    cursor:pointer;
}
.card-body {
    display:flex;
    height: 80%;
    position:relative;
    flex-direction: column;
   justify-content: flex-end;
    width:100%;
    padding: 0;

}
.card-body-item {
    list-style: none;
    min-height: 30px;
    background-color: #eeeeee;
    color:#1d2124;
    border: 1px solid #929292;
    box-shadow: 0 5px 5px #cacacb;
    margin:2px 1px;
    padding:5px;
}
.card-name-field {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #cacacb;
    z-index:10;
}
.card-name-input {
    width:70%;
    min-height:60px;
    margin: 10px 0;
}
.card-confirm-button {
    padding: 5px;
    background-color: #1e60a6;
    font-size: 16px;
    color:#fff;
    margin: 5px;
}

/*  JS */
.show {
    display:flex;
}
.hide{
    display:none;
}
.highlight{
    border:2px solid greenyellow;
}
.ghost {
    opacity: 0.4;
}