.modal-close-btn {
  font-size: 25px;
  color: #fff;
  padding: 20px;
  font-weight: bold;
}

.modal-close-btn:hover {
  cursor: pointer;
}

.modal-btn {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border: none;
  width: 110px;
}

.red {
  background-color: #b3382c;
}

.red:hover {
  cursor: pointer;
  background-color: #740719;
}

.blue {
  background-color: #0086a6;
}

.blue:hover {
  cursor: pointer;
  background-color: #1e60a6;
}

/*# sourceMappingURL=Modal-Btns.css.map */
