/*--------------------------------------- */
/*Basic Setup */
/*--------------------------------------- */

@font-face {
    font-family: "Invisible";
    src: url("../fonts/Invisible-Light.otf") format("otf"),
    url("../fonts/Invisible-Medium.otf") format("otf");

}
/* Should be added links to the original Adobe Font, please send me original fonts I'll replace them */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #000000;
    color: #fff;
    font-family: 'Invisible', 'Courier', 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
body {
    background-image: url(../images/background-milan-min.png);
    background-size: cover;
    background-position: center;   /*--make image Darker or another way -make one gradient image+ url image-- */
    height: 100vh;
    width: 100%;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------------------- */
/*Main section */
/*-------------------------------------- */

/*header*/
.header-section {
    display: block;
    width: 1064px;
    height: 45px;
    margin: 37px auto 35px auto;
    text-decoration: none;
}

#logo {
    text-transform: uppercase;
    width: 168px;
    height: 45px;
    float: left;
    text-decoration: none;
    color: #ffffff;
    background-image: url("../images/logo_milan.png");
    background-repeat: no-repeat;
    background-position:left;
}

#logo:hover{
    background-image: url("../images/orange-logo.png");
    color: #f26522;
}


.Milan-Holidays {
    display: inline-block;
    float: right;
    width: 105px;
    padding-top: 7px;
    height: 45px;
    font-weight: 600;
    line-height: 1rem;
}

.big-text {
    font-size: 29px;
    font-weight: 700;
}


.contacts {
    display: inline-block;
    float: right;
    width:261px;
    margin-right: 35px;
    text-align: right;
}

/*promo-section */

.main-section {
    width: 1064px;
    margin: 37px auto 35px auto;
    display: block;
}

/*Service block Section */
.service-module {    /*display =block because we have float*/
    height: 230px;
    width: 307px;
    float: left;
    margin-bottom: 71px;
    margin-right:52px;
    text-align: center;
}

.service-module:nth-child(3n+3){
    margin-right: 0;
}

.promo-description {
    display: block;
    margin: 0 auto;
    padding-top: 17px;

}
.promo-description a {
    text-decoration: none;
    color: #fff;
}
.promo-description a:hover {
    color:#f26522;
}
.image-module{
    display: inline-block;
    width: 307px;
    height:200px;
    float:left;
    position:relative;

}

/* Gradient block*/

 .image-wrapper{
     display: inline-block;
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #fff 100%);
    border-image-slice: 1;
    margin: -3px;

}

/* orange box content */

.image-overlay {
    display: inline-block;
    width: 100%;
    background-color: #f26522;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    /* transition */
    height: 0;
    overflow: hidden;
    transition: height 0.7s ease-in-out;

}

.image-module:hover .image-overlay {
    height: 62px;
}


.price-box {
    display:  inline;
    float:left;
    width:60px;
    height: 63px;
    margin-left: 15px;
    margin-top: 15px;
}
.euro {
    display: inline-block;
    float: left;
    font-size: 20px;
}
.from {
    display: inline-block;
    float: left;
    font-size: 10px;
}
.service-link {
    display: inline-block;
    float: right;
    margin-right: 5px;
    text-decoration: none;
    margin-top: 25px;
    color: white;
}
.service-link::after {
    display: inline-block;
    content: '\003E';
    color: #fff;
    font-size: 14px;
}

/*footer section */

footer {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left:35%;
}
footer p {
    font-size: 12px;

}

