.main-btn {
  font-size: 16pt;
  font-weight: bold;
  padding: 10px;
  background-color: #0f6674;
  color:#ffff;
}
.main-btn:hover{
  cursor: pointer;
  background-color: #1c2a33;
  outline: 0;
}
.main-btn:focus{
  outline: 0;
}
.main-btn-grey{
  background-color: #646464;
}
.main-btn-grey:hover {
  cursor:not-allowed;
  background-color: #646464;
}