.listItem-section {
  margin: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.listItem-title {
  padding-left: 10px;
  font-size: 24pt;
  font-family: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  color: #646464;
}
.listItem-title::after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #999;
  width: 140px;
}
.listItem-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.listItem-item {
  width: 25%;
}

/*# sourceMappingURL=CardListStyle.css.map */
