.form-wrapper {
  border: 1px solid grey;
  padding: 20px;
  min-width:400px;
  margin-right: 20px;

}
.form-checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:100px;
  flex-grow: 1;
  background: #fff3cd;
}
