
/*--------------------------------------- */
/* Set up section */
/*-------------------------------------- */
/* fonts set up */
@font-face {
    font-family: "Invisible";
    src: url("../fonts/Invisible-Light.otf") format("otf"),
    url("../fonts/Invisible-Medium.otf") format("otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #ffffff;
    color: #202022;
    font-family: 'Invisible', 'Open Sans', 'Courier',  sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
/*--------------------------------------- */
/*Main section */
/*-------------------------------------- */
/* Header */
/* NAV MENU */
.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;
    color: #fff;
    height: 70px;
    flex-wrap: nowrap;
}
.nav-flex a {
    text-decoration: none;
    color: #fff;
}

.nav-links {
    display: flex;
    font-family: Invisible, sans-serif;
    text-transform: uppercase;
    list-style:none;
    color:#fff;
    font-size: 15px;
    text-decoration: none;
    flex-wrap: wrap;
    padding:31px 0 28px 0;
}
.nav-links li {
    margin:auto;
    padding-right: 37px;
}
.nav-links a {
    text-decoration: none;
    color:#fff;
}
.nav-links a:hover {
    color:#169cb4;
}
.header-logo {
    display:flex;
    height: 27px;
    align-items: center;

}
.Logo-Architect {
    font-size: 22px;
    font-family: Invisible, sans-serif;
    font-weight: 700;
    padding-left: 27px;
}
.Logo-Architect a {
    text-decoration: none;
    color: #ffffff;
}
.Logo-Architect a:hover {
    color: #169cb4;
}

.img-logo {
    padding-left: 21px;
}
.search-box {
    font-size: 17px;
    padding: 25px;
    background-color: #171a1c;
}
.search-box:hover {
    color: #169cb4;
}
/*Header Text */
.header-text-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/backgrounds/background-header-min.png);
    height: 404px;
    background-size: cover;
    background-position: right 50% bottom 0;
    background-attachment: fixed;
}
.header-text-box h1 {
    color: #fff;
}
.header-text {
    font-family: Invisible, sans-serif;
    font-size: 27px;
    font-weight: 300;
    padding-bottom: 44px;
}
.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
     font-weight: 400;
    text-transform: uppercase;
    padding: 21px;
    height: 55px;
    border-radius: 7%;
}
.btn-green {
    background-color:#89ca62;
    margin-right: 20px;
}
.btn-green:hover {
    background-color: #366e21;
}

.btn-blue {
    background-color: #14b9d5;
}
.btn-blue:hover {
    background-color: #169cb4;
}
/* SECTION POPULAR POSTS */
.popular-posts {
    display:flex;
    flex-direction: column;

    justify-content: center;
    background-color: #f2f2f2;
}
.section-heading {
    text-transform: uppercase;
    color: #4ec3d8;
    font-size: 27px;
    margin:43px auto;
}
.posts-gallery {
    display:flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
   max-height: 950px;
    align-content:center;
    margin-bottom: 70px;

}
.post-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex-basis: 370px;*/
    background-color: #fff;
    margin: 15px;
}
.post-item-text {
    font-size: 18px;
    font-weight: 700;
    margin: 20px auto;
    text-decoration: none;
    color:#1d2124;

}
.post-item-text:hover{
    color:#14b9d5;
}

/* POPULAR CLIENTS SECTION */
.popular-clients {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/backgrounds/background-clients-min.png);
    height: 590px;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
}
.popular-clients-header {
    position: relative;
    font-size: 32px;
    color:#ffffff;
    text-transform: uppercase;
    margin-bottom:118px;

}
.popular-clients-header:after {
    display: block;
    position:absolute;
    margin-top:55px;
    margin-left:40%;
    content:'';
    color:#14b9d5;
    border-bottom: 3px solid #14b9d5;
    width:60px;


}
/*
.line {
    width:64px;
    border-bottom: #14b9d5 3px solid;
    margin: 40px auto;
}

 */
.logoList {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 75px;
    grid-row-gap: 0;
    align-items:center;
    justify-items: center;
}

/* TOP Rated SECTION */
.top-rated {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.top-rated-gallery {
    display:grid;
    Grid-template-columns: repeat(auto-fill, minmax(271px, 1fr) );
    grid-template-rows: auto;
    justify-items:start;
    grid-column-gap: 0;
    grid-row-gap: 0;
}
.link-top-rated {
    width:100%;
}
.image-top-rated{
    width:100%;
}
/* Full grid Section */
.hot-news {
    display: grid;
     width:90%;
    margin: 0 auto 71px auto;

    grid-template-columns: repeat(4,  minmax(292px, 1fr));
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 35px;
    grid-row-gap: 43px;
    grid-template-areas: "title title title title"
                         "item-1 item-1 item-1 item-2"
                         "item-3 item-3 item-4 item-4"
                         " item-5 item-5 item-6 item-6 "
                          " item-7   item-8 item-8 item-8 "

}
.hot-news-header{
    grid-area:title;
    text-transform: uppercase;
    color: #4ec3d8;
    font-size: 27px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 51px;
}
.hot-news-item-1 {
    grid-area:item-1;
}
.hot-news-item-2 {
    grid-area: item-2;
}
.hot-news-item-3{
    grid-area:item-3;
}
.hot-news-item-4{
    grid-area:item-4;
}
.hot-news-item-5{
    grid-area:item-5;
}
.hot-news-item-6{
    grid-area:item-6;
}
.hot-news-item-7{
    grid-area:item-7;
}
.hot-news-item-8{
    grid-area:item-8;
}

.item-row {
    justify-self:end;
    display:flex;
    flex-direction: row;
    background-color: #f9f7f7;
}

.item-content-section {
    display:flex;
    flex-direction: column;
    align-items:flex-end;
}

.item-font-decoration {
    font-size: 18px;
    font-weight: 700;
}
.item-title {
    display:flex;
    margin:41px 24px 22px 0;
}
.item-title a {
    text-decoration: none;
    color:#1d2124;
}
.item-title a:hover {
    color: #14b9d5;
}
.item-desc-decoration {
    font-size: 14px;
    text-align: right;
    margin: 0 24px 37px 20px;
}
.item-column-small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f7f7;
}
.item-2-title  {
    margin:auto;
}
.item-2-title a {
    text-decoration: none;
    color: #1d2124;
}
.item-2-title a:hover{
    color: #14b9d5;
}

.item-column {
    display: flex;
    flex-direction:column;
    background-color: #f9f7f7;
}
.item-column-title {
    margin:20px 27px 22px 0;
    align-self: flex-end;
}
.item-column-title a {
    text-decoration: none;
    color: #1d2124;
}
.item-column-title a:hover {

    color: #14b9d5;
}
.item-desc-decoration {
    font-size: 14px;
    text-align: right;
    margin: 0 24px 37px 20px;
}

footer {
    width: 100%;
    height: 80px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-color: #1d2124;
    align-items: center;
}
.footer-text {
    color: #fff;
   display: flex;
    padding-left:10%;
}
.footer-logo {
    justify-self:end;
    padding-right: 10%;
    position: relative;
}
.footer-logo-text {
    color:#fff;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

 #footer-img {
    position: absolute;
     left:-35px;
     top: 5px;

}
