section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
    margin-top: 200px;
    align-items: flex-start;
}
h2 {
    font-size: 18px;
    color: #0e7502;
    margin:20px;

}
.delete {
    border: 1px solid  #848484;
    border-radius: 50%;
    color:#848484;
    width:15px;
    text-align: center;
    display: inline-block;
    float: right;
    margin-left:10px;
    /*position: absolute; */
   /* right:5px; */

}
.delete:hover {
    cursor:pointer;
    background-color:green;
    color:#fff;
}
.price-box {
    border: 2px solid #b1b1b1;
    border-radius:15px;
    padding: 5px;
    position: relative;
    margin: 10px;
    width:auto;
    display: none;

}
.input-box {
    background-color: #a1071b;
    color: #fff;
    font-weight: 800;
    padding: 20px;
}
.wrapper {
    height: 60px;
}
.input-decoration {
    padding:5px;
    margin-left: 5px;
}
.validation-field {
    width: 30%;
    height: 200px;
    border: 2px solid #b1b1b1;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.price-dec {
    margin-left: 5px;
}
.mistake {
    color:red;
    padding: 10px;
    display:none;
}