.main-app-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff3cd;
}
.main-app-section-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.main-app-section-header {
  color: #646464;
  margin: 20px;
}
.main-app-section-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dark {
  z-index: 999;
  position: absolute;
  background-color: #031033;
  opacity: 0.9;
}

/*# sourceMappingURL=app.css.map */
