.header {
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color:gray;
}
.container {
    display: flex;
    margin:auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.movie {
    margin: 15px;
    padding:20px;
    border: 1px solid grey;
    max-width: 300px;
    box-shadow: 0 5px 5px #cacacb;
}
.movie-id {
    font-size: 16px;
    color: #081f1b;
}
.movie-name {
    font-size: 20px;
    color: #081f1b;
}
.movie-item {
    margin-bottom: 10px;
}
.movie-opening-crawl {
    display:block;
    word-wrap: break-word;
}
button {
    padding: 10px;
    color:#f9f9f9;
    background-color: black;
    font-size: 20px;
    margin-left:10%;
}
button:hover {
    cursor: pointer;
}