// Main Colors for the project:
$color-grey: #373c3f;
$color-light-grey: #f5f5f5;
$color-grey-dark: #202529;
$color-green: #acd8ad;
$color-grey-middle: #e3e4e5;
$color-white: #ffffff;
$color-blue-light: #9cc9d2;
//center setup;
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// mediaQueries
$phone: 640px;
$tablet: 980px;
$desktop: 1200px;

// Initial setup
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: $color-white;
  color: $color-grey;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 17.5pt;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
  align-items: center;
  justify-items: center;
  grid-template-areas: "header header" "promo-banner promo-banner" "promo-banner-secondary promo-banner-secondary" "menu-introduction menu-introduction" "menu-main-food menu-main-food" "menu-main-drinks menu-main-drinks" "footer footer";
  @media (min-width: $tablet) {
    grid-template-areas: "header header" "promo-banner promo-banner" "promo-banner-secondary promo-banner-secondary" "menu-introduction menu-introduction" "menu-main-food menu-main-drinks" "menu-main-food menu-main-drinks" "footer footer";
  }
  /* optional
  @media (min-width: $desktop) {
  max-width:1200px;
    margin:auto;
  } */
}

// HEADER SECTION
header {
  grid-area: header;
  width: 100%;
  height: 37px;
  background-color: $color-grey;
  color: $color-white;

  @media (min-width: $tablet) {
    height: 98px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.navigation-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &-items {
    display: none;
    position: absolute;
    top: 37px;
    right: 0;
    list-style: none;
    background-color: $color-white;
    width: 50%;
    z-index: 999;

    @media (min-width: $phone) and (max-width: $tablet) {
      width: 30%;
    }
    @media (min-width: $tablet) {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      top: inherit;
      background-color: $color-grey;
      font-size: 15pt;
      text-transform: uppercase;
    }

    &-items li {
      display: inline-block;
    }
  }

  &-text {
    font-size: 17px;
    font-weight: 300;
    margin-left: 38px;
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &-items li a {
    display: block;
    text-decoration: none;
    color: $color-grey;
    font-size: 14pt;
    padding: 20px;
    border: 1px solid $color-light-grey;
    margin-bottom: -1px;
    @media (min-width: $tablet) {
      color: $color-white;
      border: none;
      padding: 40px 20px 36px;
    }

    &:hover {
      background-color: $color-light-grey;
      cursor: pointer;
      @media (min-width: $tablet) {
        color: $color-white;
        background-color: $color-grey-dark;
        border: none;
        border-bottom: 2px solid $color-white;
        margin-bottom: -2px;

      }
    }

  }

  &-mobile-icon {
    @include center;
    background-color: $color-grey-dark;
    width: 41px;
    height: 37px;
    font-weight: 300;

    &:hover {
      cursor: pointer;
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &-mobile-logo {
    display: none;
    @media (min-width: $tablet) {
      display: block;
      padding: 0 25px 0;
    }
  }

}


// PROMO BANNER
.promo-banner {
  grid-area: promo-banner;
  width: 100%;
  height: 173px;
  background-image: url(../images/banners/img-banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4px;

  @media (min-width: $phone) and (max-width: $tablet) {
    height: 346px;
  }
  @media (min-width: $tablet) {
    height: 530px;
  }

  &-text {
    color: $color-white;
    font-size: 16pt;
    padding: 19px 19px 11px;

    @media (min-width: $phone) and (max-width: $tablet) {
      font-size: 36px;
      padding: 30px 38px 22px;

    }
    @media (min-width: $tablet) {
      width: 70%;
      font-size: 54px;
      padding: 64px 30px 57px;
    }
  }

  &-link {
    font-size: 14pt;
    color: $color-blue-light;
    padding-left: 19px;

    @media (min-width: $phone) and (max-width: $tablet) {
      font-size: 26px;
      padding-left: 38px;
    }

    @media (min-width: $tablet) {
      font-size: 34px;
      padding-left: 30px;
    }
  }
}

// SECONDARY BANNERS
.promo-banner-secondary {
  grid-area: promo-banner-secondary;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $color-white;
  font-size: 20pt;
  justify-content: center;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  &-item {
    text-decoration: none;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 75px;
    margin: 0 0 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $phone) and (max-width: $tablet) {
      height: 150px;
      font-size: 26pt;
    }
    @media (min-width: $tablet) {
      width: 33.33%;
      height: 327px;
      justify-content: center;
    }
  }

  &-item-description {
    width: 75%;
    @include center;
    @media (min-width: $tablet) {
      font-size: 38pt;
      text-align: center;
    }
  }

  &-item-arrow {
    display: block;
    position: relative;
    width: 71px;
    height: 75px;
    background-color: $color-green;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      border-right: 5px solid $color-white;
      border-bottom: 5px solid $color-white;
      width: 10px;
      height: 10px;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    @media (min-width: $phone) and (max-width: $tablet) {
      width: 141px;
      height: 150px;
      &::after {
        width: 20px;
        height: 20px;
      }
    }
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.item-2 {
  background-image: url("../images/banners/img-banner2.png");
  background-position: bottom;
}

.item-3 {
  background-image: url("../images/banners/img-banner3.png");
}

.item-4 {
  background-image: url("../images/banners/img-banner4.png");
}

// MENU INTRODUCTION
.menu-introduction {
  grid-area: menu-introduction;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 26px auto 10px;

  &-title {
    text-transform: uppercase;
    font-size: 22px;
    padding-left: 5px;
    @media (min-width: $phone) and (max-width: $tablet) {
      font-size: 26pt;
      padding-left: 22pt;
    }
    @media (min-width: $tablet) {
      font-size: 22pt;
      padding-left: 22pt;
    }
  }

  &-subtitle {
    font-size: 14px;
    padding-left: 5px;
    color: $color-grey-middle;
    @media (min-width: $phone) and (max-width: $tablet) {
      font-size: 18pt;
      padding-left: 28px;
    }
    @media (min-width: $tablet) {
      font-size: 14pt;
      padding: 20px 28px 10px;
    }

  }

  &-icon {
    display: none;
    @media (min-width: $tablet) {
      display: block;
      padding-right: 29px;
    }
  }
}

// MENU FOOD
@mixin menu-section-setup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}

@mixin menu-section-title {
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 19px 12px;
  @media (min-width: $phone) and (max-width: $tablet) {
    font-size: 26px;
    padding: 23px 27px 23px;
  }
  @media (min-width: $tablet) {
    font-size: 26px;
    padding: 23px 37px 23px;
  }

}

@mixin menu-section-submenu {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px auto 11px;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;

  &-text {
    font-size: 22px;
  }

  @media (min-width: $phone) and (max-width: $tablet) {
    font-size: 26px;
    margin: 22px auto 26px;
    &-img {
      min-width: 25px;
    }
    @media (min-width: $tablet) {

      font-size: 19pt;
      padding: 22px 38px 36px;
    }

  }
}

@mixin menu-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 9px;

  &-wrapper-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 8px;

    @media (min-width: $phone) and (max-width: $tablet) {
      font-size: 24px;
    }
  }
  &-description {
    font-size: 14px;
    @media (min-width: $phone) and (max-width: $tablet) {
      font-size: 18px;
    }
  }
  &-title::before {
    content: " \2219 ";
    padding-right: 2px;
  }
}

.menu-main-food {
  grid-area: menu-main-food;
  @include menu-section-setup;

  &-title {
    @include menu-section-title;
    color: $color-green;
    background-color: $color-grey;
  }
}

.menu-main-food-submenu {
  @include menu-section-submenu;
}

.menu-main-food-item {
  @include menu-item;
}


// MENU DRINKS
.menu-main-drinks {
  grid-area: menu-main-drinks;
  @include menu-section-setup;

  &-title {
    @include menu-section-title;
    color: $color-white;
    background-color: $color-green;
  }
}

.menu-main-drinks-submenu {
  @include menu-section-submenu;
}

.menu-main-drinks-item {
  @include menu-item;
}

// FOOTER
.footer {
  grid-area: footer;
  width: 100%;
  min-height: 55px;
  @include center;
  margin-top: 48px;
  font-size: 14px;
  background-color: $color-green;
  color: $color-white;
  @media (min-width: $phone) and (max-width: $tablet) {
    font-size: 18px;
  }
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &-text {
    @include center;
    width: 80%;
    text-align: center;

    @media (min-width: $tablet) {
      width: 50%;
    }
  }

  &-logo {
    display: none;
    @media (min-width: $tablet) {
      display: block;
      padding: 7px 37px;
    }
  }
}


