@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #ffffff;
  color: #373c3f;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 17.5pt;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto;
  align-items: center;
  justify-items: center;
  grid-template-areas: "header header" "promo-banner promo-banner" "promo-banner-secondary promo-banner-secondary" "menu-introduction menu-introduction" "menu-main-food menu-main-food" "menu-main-drinks menu-main-drinks" "footer footer";
  /* optional
  @media (min-width: $desktop) {
  max-width:1200px;
    margin:auto;
  } */
}
@media (min-width: 980px) {
  main {
    grid-template-areas: "header header" "promo-banner promo-banner" "promo-banner-secondary promo-banner-secondary" "menu-introduction menu-introduction" "menu-main-food menu-main-drinks" "menu-main-food menu-main-drinks" "footer footer";
  }
}

header {
  grid-area: header;
  width: 100%;
  height: 37px;
  background-color: #373c3f;
  color: #ffffff;
}
@media (min-width: 980px) {
  header {
    height: 98px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.navigation-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navigation-menu-items {
  display: none;
  position: absolute;
  top: 37px;
  right: 0;
  list-style: none;
  background-color: #ffffff;
  width: 50%;
  z-index: 999;
}
@media (min-width: 640px) and (max-width: 980px) {
  .navigation-menu-items {
    width: 30%;
  }
}
@media (min-width: 980px) {
  .navigation-menu-items {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: inherit;
    background-color: #373c3f;
    font-size: 15pt;
    text-transform: uppercase;
  }
}
.navigation-menu-items-items li {
  display: inline-block;
}
.navigation-menu-text {
  font-size: 17px;
  font-weight: 300;
  margin-left: 38px;
}
@media (min-width: 980px) {
  .navigation-menu-text {
    display: none;
  }
}
.navigation-menu-items li a {
  display: block;
  text-decoration: none;
  color: #373c3f;
  font-size: 14pt;
  padding: 20px;
  border: 1px solid #f5f5f5;
  margin-bottom: -1px;
}
@media (min-width: 980px) {
  .navigation-menu-items li a {
    color: #ffffff;
    border: none;
    padding: 40px 20px 36px;
  }
}
.navigation-menu-items li a:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
@media (min-width: 980px) {
  .navigation-menu-items li a:hover {
    color: #ffffff;
    background-color: #202529;
    border: none;
    border-bottom: 2px solid #ffffff;
    margin-bottom: -2px;
  }
}
.navigation-menu-mobile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202529;
  width: 41px;
  height: 37px;
  font-weight: 300;
}
.navigation-menu-mobile-icon:hover {
  cursor: pointer;
}
@media (min-width: 980px) {
  .navigation-menu-mobile-icon {
    display: none;
  }
}
.navigation-menu-mobile-logo {
  display: none;
}
@media (min-width: 980px) {
  .navigation-menu-mobile-logo {
    display: block;
    padding: 0 25px 0;
  }
}

.promo-banner {
  grid-area: promo-banner;
  width: 100%;
  height: 173px;
  background-image: url(../images/banners/img-banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .promo-banner {
    height: 346px;
  }
}
@media (min-width: 980px) {
  .promo-banner {
    height: 530px;
  }
}
.promo-banner-text {
  color: #ffffff;
  font-size: 16pt;
  padding: 19px 19px 11px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .promo-banner-text {
    font-size: 36px;
    padding: 30px 38px 22px;
  }
}
@media (min-width: 980px) {
  .promo-banner-text {
    width: 70%;
    font-size: 54px;
    padding: 64px 30px 57px;
  }
}
.promo-banner-link {
  font-size: 14pt;
  color: #9cc9d2;
  padding-left: 19px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .promo-banner-link {
    font-size: 26px;
    padding-left: 38px;
  }
}
@media (min-width: 980px) {
  .promo-banner-link {
    font-size: 34px;
    padding-left: 30px;
  }
}

.promo-banner-secondary {
  grid-area: promo-banner-secondary;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  font-size: 20pt;
  justify-content: center;
}
@media (min-width: 980px) {
  .promo-banner-secondary {
    flex-direction: row;
  }
}
.promo-banner-secondary-item {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 75px;
  margin: 0 0 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 640px) and (max-width: 980px) {
  .promo-banner-secondary-item {
    height: 150px;
    font-size: 26pt;
  }
}
@media (min-width: 980px) {
  .promo-banner-secondary-item {
    width: 33.33%;
    height: 327px;
    justify-content: center;
  }
}
.promo-banner-secondary-item-description {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 980px) {
  .promo-banner-secondary-item-description {
    font-size: 38pt;
    text-align: center;
  }
}
.promo-banner-secondary-item-arrow {
  display: block;
  position: relative;
  width: 71px;
  height: 75px;
  background-color: #acd8ad;
}
.promo-banner-secondary-item-arrow::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 640px) and (max-width: 980px) {
  .promo-banner-secondary-item-arrow {
    width: 141px;
    height: 150px;
  }
  .promo-banner-secondary-item-arrow::after {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 980px) {
  .promo-banner-secondary-item-arrow {
    display: none;
  }
}

.item-2 {
  background-image: url("../images/banners/img-banner2.png");
  background-position: bottom;
}

.item-3 {
  background-image: url("../images/banners/img-banner3.png");
}

.item-4 {
  background-image: url("../images/banners/img-banner4.png");
}

.menu-introduction {
  grid-area: menu-introduction;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 26px auto 10px;
}
.menu-introduction-title {
  text-transform: uppercase;
  font-size: 22px;
  padding-left: 5px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-introduction-title {
    font-size: 26pt;
    padding-left: 22pt;
  }
}
@media (min-width: 980px) {
  .menu-introduction-title {
    font-size: 22pt;
    padding-left: 22pt;
  }
}
.menu-introduction-subtitle {
  font-size: 14px;
  padding-left: 5px;
  color: #e3e4e5;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-introduction-subtitle {
    font-size: 18pt;
    padding-left: 28px;
  }
}
@media (min-width: 980px) {
  .menu-introduction-subtitle {
    font-size: 14pt;
    padding: 20px 28px 10px;
  }
}
.menu-introduction-icon {
  display: none;
}
@media (min-width: 980px) {
  .menu-introduction-icon {
    display: block;
    padding-right: 29px;
  }
}

.menu-main-food {
  grid-area: menu-main-food;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.menu-main-food-title {
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 19px 12px;
  color: #acd8ad;
  background-color: #373c3f;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-main-food-title {
    font-size: 26px;
    padding: 23px 27px 23px;
  }
}
@media (min-width: 980px) {
  .menu-main-food-title {
    font-size: 26px;
    padding: 23px 37px 23px;
  }
}

.menu-main-food-submenu {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px auto 11px;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;
}
.menu-main-food-submenu-text {
  font-size: 22px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-main-food-submenu {
    font-size: 26px;
    margin: 22px auto 26px;
  }
  .menu-main-food-submenu-img {
    min-width: 25px;
  }
}
@media (min-width: 640px) and (max-width: 980px) and (min-width: 980px) {
  .menu-main-food-submenu {
    font-size: 19pt;
    padding: 22px 38px 36px;
  }
}

.menu-main-food-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 9px;
}
.menu-main-food-item-wrapper-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 8px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-main-food-item-wrapper-title {
    font-size: 24px;
  }
}
.menu-main-food-item-description {
  font-size: 14px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-main-food-item-description {
    font-size: 18px;
  }
}
.menu-main-food-item-title::before {
  content: " ∙";
  padding-right: 2px;
}

.menu-main-drinks {
  grid-area: menu-main-drinks;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.menu-main-drinks-title {
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 19px 12px;
  color: #ffffff;
  background-color: #acd8ad;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-main-drinks-title {
    font-size: 26px;
    padding: 23px 27px 23px;
  }
}
@media (min-width: 980px) {
  .menu-main-drinks-title {
    font-size: 26px;
    padding: 23px 37px 23px;
  }
}

.menu-main-drinks-submenu {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px auto 11px;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;
}
.menu-main-drinks-submenu-text {
  font-size: 22px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-main-drinks-submenu {
    font-size: 26px;
    margin: 22px auto 26px;
  }
  .menu-main-drinks-submenu-img {
    min-width: 25px;
  }
}
@media (min-width: 640px) and (max-width: 980px) and (min-width: 980px) {
  .menu-main-drinks-submenu {
    font-size: 19pt;
    padding: 22px 38px 36px;
  }
}

.menu-main-drinks-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 9px;
}
.menu-main-drinks-item-wrapper-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 8px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-main-drinks-item-wrapper-title {
    font-size: 24px;
  }
}
.menu-main-drinks-item-description {
  font-size: 14px;
}
@media (min-width: 640px) and (max-width: 980px) {
  .menu-main-drinks-item-description {
    font-size: 18px;
  }
}
.menu-main-drinks-item-title::before {
  content: " ∙";
  padding-right: 2px;
}

.footer {
  grid-area: footer;
  width: 100%;
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  font-size: 14px;
  background-color: #acd8ad;
  color: #ffffff;
}
@media (min-width: 640px) and (max-width: 980px) {
  .footer {
    font-size: 18px;
  }
}
@media (min-width: 980px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}
@media (min-width: 980px) {
  .footer-text {
    width: 50%;
  }
}
.footer-logo {
  display: none;
}
@media (min-width: 980px) {
  .footer-logo {
    display: block;
    padding: 7px 37px;
  }
}

/*# sourceMappingURL=main.sass.map */
