.game-title {
    text-align: center;
    Width:600px;
    padding: 20px;
    font-size: 30px;
    color:#fff;
    font-weight: bold;
}

.game-details {
    display: flex;
    width:650px;
    justify-content: space-between;
    align-items: center;
}
.game-details-score {
    display:flex;
    justify-content: space-around;
    width:300px;
}
.game-details-score-player, .game-details-score-computer, .game-details-timing {
    font-size: 20px;
    color: #eeeeee;
}
.button-start {
    font-size: 18px;
    color:#fff;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    border:1px solid #fff;
}
.button-start:hover {
    cursor: pointer;
    background-color: #13413d;
}
.button-start:focus {
    outline:0;
}
.game-wrapper {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(wak_a_mole.png);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.game-table {
    border-collapse: collapse;
    border: 3px solid grey;
    margin: 20px;
}
td {
    border: 1px solid grey;
    width:60px;
    height: 60px;
    background-color: #f9f9f9;
}

.green {background-color: green}
.blue {background-color: #14b9d5}
.red { background-color: #df3a46;
}
.winner-popup {
    display: none;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 200px;
    background-color: #005cbf;
    color: #fff;
    position: absolute;
    top:30%;
    left:30%;

}
.popup-start {
    background-color: green;
    border:2px solid #fff;
    padding: 5px;
    color:#fff;
    font-size: 15px;
    margin-top: 10px;
}
.popup-start:hover {
    background-color: #081f1b;
    cursor: pointer;
}