
/*--------------------------------------- */
/* Set up section */
/*-------------------------------------- */
/* fonts set up */
@font-face {
    font-family: "Invisible";
    src: url("../fonts/Invisible-Light.otf") format("otf"),
    url("../fonts/Invisible-Medium.otf") format("otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #ffffff;
    color: #717171;
    font-family: 'Invisible', 'Montserrat', 'Courier',  sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*--------------------------------------- */
/*Colors SetUp */
/*-------------------------------------- */

.emerald {
    color: #18cfab;
}
.blue{
    color: #00cbf6;
}
.white{
    color: #fff;
}
.bg-dark-blue {
    background-color: #1c2a33;
}
.bg-emerald {
    background-color:  #18cfab;
}
.border-top-emerald {
    border-top: 7px solid #18cfab;
}
.border-top-white {
    border-top: 7px solid #fff;
}

/*--------------------------------------- */
/*HEADER section */
/*-------------------------------------- */
/* NAV MENU */
header {
    min-width:1200px;
    display: flex;
    flex-direction: column;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/Sections_background/section-1.jpg); */
    background-image: url(../images/Sections_background/section-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 1012px;
}
/*LOGO */
.header-logo {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}
.logo-img {
    height: 67px;
}
.logo-img span {
    position:absolute;
    left: 10px;
    bottom: 6px;
    display: inline-block;
    font-size: 46px;
    font-weight: 700;
}
.logo-text {
    display: flex;
    padding-left:8px;
    margin-right: 259px;
}
.logo-text span {
    font-size: 22px;
}
.ham {
    color:#18cfab;
    font-weight: 700;
}
/* MENU */
.nav-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(86, 85, 80, 0.7);
    color: #9d9c9b;
    height: 120px;
    flex-wrap: nowrap;
}
.nav-flex a {
    text-decoration: none;
    color: #fff;
}
.nav-links {
    display: flex;
    font-family: Invisible, sans-serif;
    text-transform: uppercase;
    list-style:none;
    color:#9d9c9b;
    font-size: 15px;
    text-decoration: none;
    flex-wrap: wrap;
    padding:31px 0 28px 0;
}
.nav-links li {
    margin:auto;
    padding-right: 25px;
}
.nav-links a {
    text-decoration: none;
    color:#9d9c9b;
}
.search-box {
    font-size: 22px;
}
.nav-links a:hover {
    color:#18cfab;
    padding-bottom: 50px;
    border-bottom: 2px solid #18cfab;
}
.nav-links>li>.search-box:hover {
    padding-bottom: 45px;
    border-bottom: 2px solid #18cfab;
}

/*Header Text */

.header-text-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 769px;
}
.pre-header-text {
    font-family: Invisible, sans-serif;
    color:#fff;
    font-size: 35pt;
    text-transform: uppercase;
    padding-bottom: 23px;
}
.header-text {
    font-family: Invisible, sans-serif;
    color:#fff;
    font-size: 69pt;
    text-transform: uppercase;
    font-weight:700;
    padding-bottom: 18px;
}
.after-header-text {
    font-family: Invisible, sans-serif;
    color:#fff;
    font-size: 29pt;
    text-transform: capitalize;
    font-weight: 200;
    padding-bottom: 142px;
}

/* Buttons */

.btn {
    display: inline-block;
    color: #fff;
    font-size: 12.6pt;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    padding: 21px;
    height: 61px;
    border-radius: 5%;
}
.btn-border{
    border-top: 4px solid #fff;
}
.btn-emerald {
    background-color:#18cfab;
    margin-right: 20px;
}
.btn-emerald:hover {
    background-color: #148b72;;
}
.btn-blue {
    background-color:#00cbf6;
}
.btn-blue:hover {
    background-color: #0086a6;;
}

/*--------------------------------------- */
/* SECTION 2 FEATURES */
/*-------------------------------------- */

.section-features {
    min-width: 1200px;
    display: flex;
    justify-content:center;
}

.block-feature{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:480px;
    height:374px;
}
.feature-description {
    font-size: 20pt;
    text-transform: uppercase;
}
.feature-image {
    height: 95px;
}
.feature-image{
    margin-bottom:48px ;
}

/*--------------------------------------- */
/* SECTION 3 OUR SERVICES */
/*-------------------------------------- */
.our-services {
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-bottom: 103px;
}

.section-heading {
    text-transform: capitalize;
    font-size:36pt;
    margin:82px auto 112px;
    position: relative;
}
.section-heading::after {
    display: block;
    position:absolute;
    margin-top:37px;
    margin-left:40%;
    content:'';
    color:#18cfab;
    border-bottom: 1px solid #18cfab;
    width:76px;
}

.section-heading::before {
    display: block;
    position:absolute;
    margin-top: 87px;
    margin-left:35%;
    content:'';
    color:#18cfab;
    border-bottom: 1px solid #18cfab;
    width:76px;
}
.section-heading-people-say {
    text-transform: capitalize;
    font-size:36pt;
    margin:82px auto 112px;
    position: relative;
}
.section-heading-people-say::after {
    display: block;
    position:absolute;
    margin-top:37px;
    margin-left:48%;
    content:'';
    color:#18cfab;
    border-bottom: 1px solid #18cfab;
    width:76px;
}
.section-heading-people-say::before {
    display: block;
    position:absolute;
    margin-top: 87px;
    margin-left:43%;
    content:'';
    color:#18cfab;
    border-bottom: 1px solid #18cfab;
    width:76px;
}
/*Service Block*/
.services-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.services-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f8fcfe;
    margin-bottom: 25px;
}
.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:193px;
    height: 73px;
    border: 1px solid #cacacb;
}

.feature:hover{
    border-color: #18cfab;
    cursor: pointer;
}
/* JQ active class */
.active {
    background-color: #18cfab;
    color: #fff;
    border-color:#18cfab;
}
.active::after{
    content: '';
    position: absolute;
    top: 100%;
    left: calc(50% - 10px);
    background: #18cfab;
    width: 20px;
    height: 20px;
    clip-path: polygon(0 0, 54% 48%, 100% 0);
}

    /* display block */
.services-menu-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:1160px;
}
.services-menu-description-text{
    margin-left: 20px;
    text-align: justify;
    min-height: 150px ;
}
/*--------------------------------------- */
/* SECTION 4 PROMO SECTION (TEXT) */
/*-------------------------------------- */
.promo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 476px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Sections_background/section-2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.big-text {
    font-size: 26pt;
    max-width: 1160px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 35px;
}
.big-tex-p {
    max-width: 1160px;
    font-size:16pt;
    margin-bottom: 76px;
    color:#d8d8d8;
}

/*--------------------------------------- */
/* SECTION 5 OUR WORK */
/*-------------------------------------- */
.our-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #f8fcfe;
    border-bottom: 1px solid #d1d1d1;

}
.our-work-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 13.9pt;
    background-color:#fff;
    margin-bottom: 70px;
}
.our-work-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cacacb;
    padding: 0 22px;
    height: 58px;
}
.our-work-item:hover{
    color: #18cfab;
    border-top: 1px solid #18cfab;
    cursor: pointer;
}
.focus-item {
    color: #18cfab;
    border-top: 1px solid #18cfab;
}
/* GENERAL DISPLAY GALLERY */
.our-work-gallery-block1,
.our-work-gallery-block2,
.our-work-gallery-block3 {
    max-width: 1160px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;

}
.our-work-gallery {
    display: flex;
    flex-direction:column;
    align-items: center;
    width:1200px;
}

.btn-load-more:focus{
    outline:0;
}
.btn-load-more:hover {
    cursor: pointer;
}
/* Gallery item CSS STYLES*/
.item-description-image {
    width:285px;
    height: 207px;
}
.our-work-gallery-item {
    display: flex;
    flex-direction:row;
    position: relative;
}
.our-work-gallery-item-description {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width:285px;
    height: 207px;
    border-top:3px solid #18cfab;
    box-sizing: border-box;
    transition: .5s ease;
    opacity: 0;
}
.our-work-gallery-item:hover .our-work-gallery-item-description{
    opacity: 1;
}
.item-description-icons {
    display: flex;
    flex-direction:row;
}
.item-description-text {
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 14px;
}
.item-description-icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width:50px;
    height: 50px;
    border: 1px solid #18cfab;
    color:#18cfab;
    font-size: 18pt;
    margin: 3px 3px 34px;
}
.item-description-section {
    font-size: 15pt;
}

/*--------------------------------------- */
/* SECTION 6 BREAKING NEWS */
/*-------------------------------------- */
.breaking-news {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    max-width: 1160px;
    margin: auto;
}
.news-gallery {
    width:1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.news-gallery-item {
    padding-bottom: 12px;
    background-color: #f8fcfe;
    position: relative;
    margin: 0 12px 45px;
}
.news-gallery-text {
    font-size: 16pt;
    text-transform: capitalize;
    margin: 14px 13px 14px;


}
.item-author {
    position: relative;
    padding-right: 20px;
    margin-left: 13px;

}
.item-author:after{
    content: '';
    width: 0;
    height: 90%;
    position: absolute;
    border: 1px solid #717171;
    top: 0;
    left: 80px;
}
.news-item-comment {
    margin-left: 10px;
}
.news-date {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width:68px;
    height: 66px;
    background-color: #203e38;
    color: #fff;
    font-size: 16pt;
}
.news-gallery-item a {
    text-decoration: none;
    color: #717171;
}

.news-date span {
    padding: 10px;
    text-align: center;
}
.news-gallery-item:hover .news-date{
    background-color: #18cfab;
}
.news-gallery-item:hover .news-gallery-text{
    color:#18cfab;
}

/*--------------------------------------- */
/* SECTION 7 TESTIMONIALS */
/*-------------------------------------- */
.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../images/Sections_background/section-3.jpg);
    height: 950px;
    min-width: 1200px;

}
.testimonials-quote {
    font-size: 36pt;
    padding-bottom: 44px;
}
.testimonials-text {
    max-width: 1160px;
    font-size: 14pt;
    text-align: center;
    padding-bottom: 43px;
}

/*--------------------------------------- */
/* SECTION 8 BEST IMAGES GALLERY */
/*-------------------------------------- */
.best-images-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.item-gallery-description {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}
.item-description-icon-rectangle {
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    min-height: 40px;
    background-color: #14b9d5;
    color:#fff;
    border-radius: 5px;
    margin: 5px;
}
.best-images-item {
    position: relative;
}
.best-images-item:hover .item-gallery-description {
display: flex;
}
.best-img {
    width: 100vw;}


/*--------------------------------------- */
/* Masonry*/
/*-------------------------------------- */
.best-images-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8fcfe;
}
.best-images-list {
    margin: 0 auto 10px;
    width: 1200px;
}

.masonry-container {
    column-count: 3;
    column-gap: 1em;
    padding: 0;
}
.item {
    display: inline-block;
    background: #fff;
    width: 100%;
    margin-bottom: 16px;
}
.best-img {
    max-width: 100%;
}

.item--width2 {
    width:180px;
    display: inline-block;

}
.item--width2 img{max-width:100%;}

.item--width3 {
    width: 120px;
    display: inline-block;
}
.item--width3 img{max-width:100%;}
.item-min  {
    max-width:95%;
    margin-top:16px;
;}



/*--------------------------------------- */
/* Footer */
/*-------------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    background-color: #22353f;
}

/*--------------------------------------- */
/* JS -JQUERY STYLES */
/*-------------------------------------- */
.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.show{
    position:relative;
}
/*--------------------------------------- */
/* LOADER */
/*-------------------------------------- */
 /* position */
.btn-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 70px auto 100px;
}
.radial, .radial-best-img {
    position: absolute;
    top: 0;
    left:30%;
}
    /* loader */

.circle.left {
    position: absolute;
    clip: rect(0, 100px, 100px, 50px);
}

.circle.right {
    position: absolute;
    clip: rect(0px, 50px, 100px, 0px);
}

.circle span {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    border: 10px solid #18cfab;
}

.circle.left span {
    clip: rect(0px, 50px, 100px, 0px);
    -webkit-animation: rotate-left 2s infinite linear;
}

.circle.right span {
    clip: rect(0, 100px, 100px, 50px);
    -webkit-animation: rotate-right 2s infinite linear;
}

@-webkit-keyframes rotate-left {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(180deg); }
}

@-webkit-keyframes rotate-right {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(180deg); }
}

/*--------------------------------------- */
/* SLICKER SLIDER */
/*-------------------------------------- */

/* slider decoration */
.image-wrapper {
    max-width:700px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-big-slider {
     width: 142px;
     height:142px;
 }
.image-shadow-circle{
    border-radius: 50%;
    box-shadow:  0 0 0 10px rgba(24, 207, 171, 0.2);
}
.image-border {
    border: 2px solid #18cfab;
}
.slider-person-name {
    font-size: 15pt;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}
.slider-person-position {
    font-size: 12pt;
    color: #eeeeee;
    padding-bottom: 25px;
}
.image-wrapper-small {
    box-sizing: border-box;
    width:100px;
    display: flex;
    flex-wrap: nowrap;
}

/* slick slider sass */
.slick_slider {
    color: #fff;
    font-size:20px;
    max-width:650px;
    margin:0 auto;
}
.slick-current {
    padding-bottom: 25px;

}
.slick-current>img{
    border: 2px solid #18cfab;
}
.slider_for .slick-slide, .slider_nav .slick-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:250px;
}

.slider_for {
    margin-bottom: 20px;
}
.slider_nav .slick-slide {
    margin:0 8px;
    width: 120px;
    height: 180px;
}
.slider_nav .slick-slide:focus {
    outline:0;
}
.slider_nav .slick-slide:hover {
    cursor: pointer;
}
.slick-dots li button::before,
.slick-dots li.slick-active button::before {
    color:#fff;
}

/* Arrows */
.slick-next:before {
    content:"\203A";
    color: #fff;
    font-weight: 800;
    border: 1px solid #fff;
    font-size: 25px;
    padding: 0 10px 7px 10px;
}

.slick-next:hover:before {
    color: #fff;
    background-color:#18cfab;
    border: 1px solid #18cfab;
}
.slick-prev:before {
    content:"\2039";
    color: #fff;
    font-weight: 800;
    border: 1px solid #fff;
    font-size: 25px;
    padding: 0 10px 7px 10px;
}
.slick-prev:hover:before{
    color: #fff;
    background-color:#18cfab;
    border: 1px solid #18cfab;
}