.modal-window {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-window-body-wrapper {

  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width:30%; /* Could be more or less, depending on screen size */
}

.modal-window-close {
  color: #aaa;
 float: right;
  align-self: flex-start;
  font-size: 28px;
  font-weight: bold;
}
.modal-window-close:hover {
  cursor:pointer;
  outline: 0;
}

.modal-btn {
  background-color: #0c5460;
  color: #ffff;
  padding: 10px;
  font-size: 16px;
  margin:10px;
}
.modal-btn:hover {
  cursor: pointer;
  outline: 0;
  background-color: #1b1e21;
}
.modal-window-body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-window-content {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  color:#1c2a33;
}
.modal-window-title {
  font-size: 16pt;
  color:#1c2a33;
}
.modal-window-content-title {
  font-size: 22px;
  font-weight: bold;
}
.modal-window-content-point{
  font-weight: bold;
}