
body {
    width:100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

#wrap-block {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    color: #feda4a;
    text-align: justify;
    margin-left: -9em;
    font-size: 400%;
    transform-origin: 50% 100%;
    transform: perspective(600px) rotateX(25deg);
}

#wrap-block:after
{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}
#content
{
    position: absolute;
    top: 100%;
    animation-name:scroll;
    animation-duration:30s;  /*one cycle of animation */
    animation-timing-function:linear; /* animation speed*/
    animation-delay: 0s;
    animation-iteration-count: infinite;

}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -10%; }
}
.header-text{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
