.InputWrapper {
  margin-bottom: 15px;
}
.InputWrapper label {
margin-bottom:3px;
  padding-left: 5px;
  display: block;
 font-weight: bold;
}
.InputWrapper input {
display: block;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0 0 5px;
  width: 100%;
  outline:none;
  transition: all 300ms ease-in-out;
}
.InputWrapper span {
  color: #f01f30;
  font-size: 12px;
  font-weight: bold;
}
.invalid label {
  color: #f01f30;
}