.info-ip {
    display:flex;
    flex-direction: column;
    margin:20px;
    padding:20px;
    border: 1px solid grey;
    width:30%;
}
.info-ip-description {
    margin-left:10px;
    font-size: 20px;
    font-weight: bold;
}
.btn-get-ip {
    margin:20px;
    padding:10px;
    font-size: 20px;
    color:#fff;
    background-color: #005cbf;

}
.btn-get-ip:hover{
    cursor: pointer;
    background-color: #1100ff;
}
.btn-get-ip:focus{
    outline: none;
}
.hide{
    display:none;
}
.info-ip-text {
    font-size: 20px;
    margin-left: 20px;
}