.cardItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-wrap: wrap;
  margin: 10px;
  width: 85%;
  min-height: 370px;
  border: 1px solid grey;
}
.cardItem-row {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.cardItem-description {
  font-size: 16px;
  font-weight: bold;
  color: #1c2a33;
  margin-right: 10px;
}
.cardItem-star {
  justify-content: space-between;
  margin-bottom: 15px;
}
.cardItem-image {
  height: 200px;
}
.cardItem-addToFavorite {
  background-color: #1c2a33;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 30px;
  height: 30px;
}
.cardItem-addToFavorite:hover {
  background-color: #e8b468;
  cursor: pointer;
}
.cardItem-btn {
  font-size: 14pt;
  font-weight: bold;
  padding: 10px;
  background-color: #0f6674;
  color: #ffff;
}
.cardItem-btn:hover {
  cursor: pointer;
  background-color: #1c2a33;
  outline: 0;
}
.cardItem-btn:focus {
  outline: 0;
}

.added {
  background-color: #e8b468;
}

/*# sourceMappingURL=CardItemStyle.css.map */
