.twitter-news-feed {
    display:flex;
    flex-direction: column;
    padding:2%;
    width:100%;
    background-color: #9d9d9d;
}
.twitter-card-post {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 20px;
    width:80%;
    border: 1px solid grey;
}
.twitter-card-post-user-credentials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.twitter-card-post-cred {
    margin-right: 10px;
    padding: 5px;
}
.twitter-card-post-all {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid grey;
}
.twitter-card-post-buttons {
    margin-top:15px;
    margin-bottom: 15px;
}
.twitter-card-btn {
    cursor: pointer;
    padding:5px;
    background-color:#005cbf;
    color:#fff;
}
.twitter-card-btn:focus {
    outline: none;
}
.twitter-card-btn:hover {
    border: 1px solid #0086a6;
}
.twitter-card-post-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}
.twitter-card-post-title:focus, .twitter-card-post-body:focus {
    outline:0;
    border:1px solid green;
}


.add-post-button {
    margin:20px;
    padding:10px;
    background-color: #005cbf;
    color:#ffff;
    font-size: 16px;
    cursor: pointer;
}
.add-post-button:focus{
    outline:0;
}
.twitter-card-post-delete {
    background-color: #740719;
}
.add-post-modal {
    display:none;
    position:fixed;
    z-index:1;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.add-post-modal-window {
    background-color: #fff;
    width:50%;
    margin-top:20%;
    margin-left:20%;


}
.twitter-card-post {
    margin-bottom: 20px;
    font-size: 18px;
}
.twitter-card-post-header {
    color:#005cbf;
    width:100%;
}
.twitter-modal-close {
    text-decoration: underline;
}
.twitter-modal-close:hover {
    cursor: pointer;
}
.twitter-card-post-edit {
    padding:10px;
}
.changed{
    border: 1px solid green;
}