.modal-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding-left: 10%;
  font-weight: bold;
  color: #ffff;
}

.modal-text {
  display: flex;
  flex-direction: column;
  color: #ffff;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}

/*# sourceMappingURL=Modal-Texts.css.map */
