/*--------------------------------------- */
/*Set up section */
/*--------------------------------------- */
/* colors
 Outer border / Blue: #3a4965;
 Green: #89c331;
 Red: #f04a56;
 Dark Green/Olive: #20807c;
 Grey Button: #484848;
 Grey Text:#484848;
 Light grey/first row: #f2f2f2;
 Darker grey/second row: #e3e3e3;

 */
@font-face {
    font-family: "Invisible";
    src: url("../fonts/Invisible-Light.otf") format("otf"),
    url("../fonts/Invisible-Medium.otf") format("otf");

}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo-regular-webfont.eot');
    src: url('../fonts/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arimo-regular-webfont.woff2') format('woff2'),
    url('../fonts/arimo-regular-webfont.woff') format('woff'),
    url('../fonts/arimo-regular-webfont.svg#arimoregular') format('svg'),
    url('../fonts/arimo-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #040b40;
    color: #484848;
    font-family: 'Invisible', 'Arimo', 'Courier',  sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
/*--------------------------------------- */
/*Main section  */
/*--------------------------------------- */

main {
    background-image: linear-gradient(to bottom, #02072b , #262d66);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;

}
table {
    margin: auto;
    border: 29px solid #3a4965;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
}

tr td {
    width:157px;
    height:112px;
}
td {
    border: 1px solid rgba(202, 202, 202, 0.5);
    border-collapse: collapse;
}
tr td:first-child {
    color: #fff;
}
tr td:nth-child(2n+2){
    background-color: #e3e3e3;
}
tr td:nth-child(2n+1){
    background-color:#f2f2f2;
}
table tr:nth-child(1) {
   color:#484848;
    font-size: 18px;
    font-weight: 700;
}

/*Price Description Cell */
tr td.price-description {
    width: 190px;
    height:113px;
    background-color: #fafafa;
    color:#484848;
}
.small-text-table2 {
    font-size: 14px;
    font-family: Invisible, sans-serif;
}
.big-text-table2 {
    font-size: 20px;
    font-weight: 700;
}
/* First column */
tr td.standard-table2 {
    background-color:#89c331 ;
    height: 167px;
    min-width:198px;
}
tr td.ultimate-table2 {
    background-color: #df3a46;
    height: 167px;
}
tr td.premium-table2 {
    background-color: #20807c;
    height: 167px;
}
/* first column text decoration */
.block-with-price {
   width:198px;
}
.price-plan-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;

}
.big-price {
    display:inline-block;
    font-size: 36px;
    font-weight: 700;
}
.cents {
    position: relative;
    top: -12px;
    right: 5px;
    font-size: 18px;
    font-weight: 700;
}
.text-second {
    display:inline-block;
    font-size: 14px;
}

.btn-grey {
    display: inline-block;
    width:124px;
    height: 29px;
    border-radius: 5px;
    padding: 7px 10px 5px;
    text-decoration: none;
    font-size: 16px;
    /*margin: 20px; */
    color: white;
    box-shadow: 0 5px 0 #404040;
    background-color: #484848;
    margin:10px;
}
.btn-grey:hover{
    background-color: #2b2b2b;
    box-shadow: 0 5px 4px #131313;
}
 i.fa {
    display:block;
     font-size: 24pt;
     color:#848484;
     margin-bottom: 5px;
}