/*--------------------------------------- */
/*Set up section */
/*--------------------------------------- */
/* colors
 Outer border / Blue: #3a4965;
 Green: #89c331;
 Red: #f04a56;
 Dark Green/Olive: #20807c;
 Grey Button: #484848;
 Grey Text:#484848;
 Light grey/first row: #f2f2f2;
 Darker grey/second row: #e3e3e3;

 */
@font-face {
    font-family: "Invisible";
    src: url("../fonts/Invisible-Light.otf") format("otf"),
    url("../fonts/Invisible-Medium.otf") format("otf");

}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo-regular-webfont.eot');
    src: url('../fonts/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arimo-regular-webfont.woff2') format('woff2'),
    url('../fonts/arimo-regular-webfont.woff') format('woff'),
    url('../fonts/arimo-regular-webfont.svg#arimoregular') format('svg'),
    url('../fonts/arimo-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #040b40;
    color: #484848;
    font-family: 'Invisible', 'Arimo', 'Courier',  sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
/*--------------------------------------- */
/*Main section  */
/*--------------------------------------- */
main {
    background-image: linear-gradient(to bottom, #02072b , #262d66);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;

}
/*
section {
    margin: auto;
    width: 1192px;
    height: 736px;
    background-color: #fafafa;
}*/
/*general*/
table {
    margin: auto;
    border: 29px solid #3a4965;
    border-collapse: collapse;
    text-align: center;
    text-transform: uppercase;
}

tr td {
    width:270px;
    height: 69px;
}
tr:nth-child(odd){
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #e3e3e3;
}
th, td {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
}
.first-column {
    width:310px;
    height: 156px;
}
tfoot tr td:first-child{
    background-color:#dddddd;
}
/*header*/
.small-text {
    font-family: Invisible, sans-serif;
    font-size:18px;
}
.big-text {
    font-family: Invisible, sans-serif;
    font-size: 30px;
}
.text-white {
    color:#fff;
}

.standard {
    background-color: #89c331;
    height: 70px;
    font-size: 24px;
    color:#ffffff;
}

.ultimate {
    height: 70px;
    font-size: 24px;
    color:#ffffff;
    background-color:#f04a56;
}
.premium {
    height: 70px;
    font-size: 24px;
    color:#ffffff;
    background-color:#20807c;
}

/* price box */
thead tr:nth-child(n+1){
    background-color: #fff;
}

.price-box {
    width:212px;
    display: inline-block;
}
.big-price {
    float:left;
    font-size: 60px;
}
.per-month{
    display: inline-block;
    float:left;
    width: 108px;
    height: 60px;
    padding-top: 10px;
}
.cents {
    font-size: 24px;
    display: block;
    float:left;
}
.text-second {
    font-size: 18px;
    display: inline-block;
    float:left;
    font-weight:400;

}
/* icons*/
i {
    display: inline-block;
    font-size: 24px;
    color:#484848;
    margin-right: 8px;
}
.btn {
    display: inline-block;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 16px;
    text-decoration: none;
    margin: 20px;
    color: white;
    width:192px;
    height: 40px;
}
.btn-grey {
    box-shadow: 0 5px 0 #404040;
    background-color: #484848;
}
.btn-grey:hover{
    background-color: #2b2b2b;
    box-shadow: 0 5px 4px #131313;
}
.btn-green {
    box-shadow: 0 5px 0 #79b027;
    background-color: #89c331;
}
.btn-green:hover {
    box-shadow: 0 5px 4px #213310;
    background-color: #366e21;

}
.btn-red {
    box-shadow: 0 5px 0 #df3a46;
    background-color: #f04a56;
}
.btn-red:hover {
    box-shadow: 0 5px 2px #5b1b1f;
    background-color: #a61b33;

}
.btn-olive {
    box-shadow: 0 5px 5px #16736f;
    background-color: #20807c;
}

.btn-olive:hover {
    box-shadow: 0 5px 5px #081f1b;
    background-color: #19403c;
}
