.main-app-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #ffff;
  margin: 20px;
  font-size: 20px;
}
.main-app-btn:hover {
  cursor: pointer;
  background-color: #0086a6;
}

.main-app-btn-green {
  background-color: #0f6674;
}

/*# sourceMappingURL=buttonItem.css.map */
