.navigation {
  background-color: #262d66;
  height: 100px;
  display: flex;
  align-items: center;
}

.navigation-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navigation-menu-item {
  color: #FFFFFF;
  font-size: 20px;
  padding: 20px;
  margin-left: 20px;
}

.navigation-menu-item a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navigation-menu-item a:hover {
  color: rgba(159, 231, 255, 0.82);
  cursor: pointer;
  text-decoration: underline;
}

/*# sourceMappingURL=Navigation.css.map */
