html,body {
  background-color: #1c2a33;
  opacity: 0.8;
}
.modal-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 35%;
  width: 600px;
  height: 250px;
  border: 1px solid grey;
  background-color: #e74c3c;
  color: #fff;
  font-size: 16px;
}
.modal-window-header {
  width:100%;
    display: flex;
  align-self: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
.modal-window-body {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}